body{

margin:0;
padding:30px;
background:#111;
color:#eee;
font-family:Arial,Helvetica,sans-serif;

}

h1{

text-align:center;
color:#62d6ff;
font-size:44px;
margin-bottom:10px;

}

#buscador{

text-align:center;
margin:30px;

}

input{

width:180px;
padding:10px;
font-size:18px;
text-align:center;

background:#222;
color:#fff;

border:2px solid #62d6ff;
border-radius:10px;

}

button{

padding:10px 20px;
font-size:18px;
margin-left:10px;
cursor:pointer;

background:#1d9bf0;
color:#fff;

border:none;
border-radius:10px;

transition:.25s;

}

button:hover{

background:#62d6ff;

}

#ficha{

display:none;
max-width:1000px;
margin:auto;
background:#1b1b1b;
border:2px solid #62d6ff;
border-radius:18px;
padding:25px;
box-shadow:0 0 20px rgba(98,214,255,.35);

}

#titulo{

text-align:center;
font-size:40px;
color:#6fd7ff;
margin-bottom:5px;

}

#cronologia{

text-align:center;
font-size:22px;
color:#aaa;
margin-bottom:25px;

}

#imagenPrincipal{

width:100%;
max-width:700px;
display:block;
margin:auto;

border-radius:10px;
border:2px solid #62d6ff;
box-shadow:0 0 15px rgba(98,214,255,.25);

}

#bloqueInfo{

margin-top:25px;
font-size:20px;
line-height:1.7;

}

#galeria{

margin-top:30px;
display:flex;
justify-content:center;
gap:25px;
flex-wrap:wrap;

}

#galeria img{

width:300px;

border-radius:10px;
border:2px solid #62d6ff;
box-shadow:0 0 15px rgba(98,214,255,.25);

}

h2{

color:#62d6ff;
margin-top:35px;

}

.stats{

display:grid;
grid-template-columns:1fr 1fr;
gap:8px;
font-size:18px;

}






